<a href="https://colab.research.google.com/github/brfelipealmeida/DeepGravity/blob/master/Locomizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import csv

# Open the TSV file in read mode
with open('/content/drive/My Drive/Colab Notebooks/Audience_Profiles_Destination_2023-03-01.tsv', 'r', newline='') as tsvfile:
      # Create a reader object using the TSV file
    reader = csv.reader(tsvfile, delimiter='\t')

In [ ]:
import pandas as pd

# Read the TSV file into a DataFrame
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Audience_Profiles_Destination_2023-03-01.tsv', delimiter='\t')

# Display the DataFrame
print(df)

         DESTINATION_CODE      ORIGIN_CODE  TIME INTERVAL         DAY  \
0         89195dae2b7ffff  89195dae2b7ffff            0.0  2023-03-01
1         89195da62b7ffff  89195da62b7ffff            0.0  2023-03-01
2         89195da62b3ffff  89195da62b3ffff            0.0  2023-03-01
3         89195da62bbffff  89195da62bbffff            0.0  2023-03-01
4         89195dae2bbffff  89195dae2bbffff            0.0  2023-03-01
...                   ...              ...            ...         ...
10538032  89194aca38bffff                0           19.0  2023-03-01
10538033  89194aca38fffff                0           19.0  2023-03-01
10538034  89194ac2393ffff                0           19.0  2023-03-01
10538035  89194aca393ffff                0           19.0  2023-03-01
10538036  89194ac2397ffff                0           19.0  2023-03-01

          DAY_TYPE  MONTH    YEAR MOVEMENT_MODALITY VISITATION_MODALITY  \
0              3.0    3.0  2023.0               ALL             WORKERS
1              3.0    3.0  2023.0               ALL             WORKERS
2              3.0    3.0  2023.0               ALL             WORKERS
3              3.0    3.0  2023.0               ALL             WORKERS
4              3.0    3.0  2023.0               ALL             WORKERS
...            ...    ...     ...               ...                 ...
10538032       3.0    3.0  2023.0       PEDESTRIANS                 ALL
10538033       3.0    3.0  2023.0       PEDESTRIANS                 ALL
10538034       3.0    3.0  2023.0       PEDESTRIANS                 ALL
10538035       3.0    3.0  2023.0       PEDESTRIANS                 ALL
10538036       3.0    3.0  2023.0       PEDESTRIANS                 ALL

          NUMBER_OF_USERS  NUMBER_OF_SIGNALS  DWELL_TIME  \
0                     5.0                6.0    2.964145
1                     2.0                2.0    0.726285
2                     3.0                9.0    2.187190
3                     2.0                2.0    2.273902
4                     3.0                5.0    1.830020
...                   ...                ...         ...
10538032              0.0                0.0    0.000000
10538033              0.0                0.0    0.000000
10538034              0.0                0.0    0.000000
10538035              0.0                0.0    0.000000
10538036              0.0                0.0    0.000000

          EXTRAPOLATED_NUMBER_OF_USERS  EXTRAPOLATED_NUMBER_OF_SIGNALS  \
0                                119.0                           143.0
1                                 47.0                            47.0
2                                 71.0                           214.0
3                                 47.0                            47.0
4                                 71.0                           119.0
...                                ...                             ...
10538032                           0.0                             0.0
10538033                           0.0                             0.0
10538034                           0.0                             0.0
10538035                           0.0                             0.0
10538036                           0.0                             0.0

          PROPORTION_OF_USERS
0                    0.060241
1                    0.030303
2                    0.076923
3                    0.006969
4                    0.069767
...                       ...
10538032             0.000000
10538033             0.000000
10538034             0.000000
10538035             0.000000
10538036             0.000000

[10538037 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10538037 entries, 0 to 10538036
Data columns (total 15 columns):
 #   Column                          Dtype
---  ------                          -----
 0   DESTINATION_CODE                object
 1   ORIGIN_CODE                     object
 2   TIME INTERVAL                   float64
 3   DAY                             object
 4   DAY_TYPE                        float64
 5   MONTH                           float64
 6   YEAR                            float64
 7   MOVEMENT_MODALITY               object
 8   VISITATION_MODALITY             object
 9   NUMBER_OF_USERS                 float64
 10  NUMBER_OF_SIGNALS               float64
 11  DWELL_TIME                      float64
 12  EXTRAPOLATED_NUMBER_OF_USERS    float64
 13  EXTRAPOLATED_NUMBER_OF_SIGNALS  float64
 14  PROPORTION_OF_USERS             float64
dtypes: float64(10), object(5)
memory usage: 1.2+ GB

In [ ]:
df.head()

,DESTINATION_CODE,ORIGIN_CODE,TIME INTERVAL,DAY,DAY_TYPE,MONTH,YEAR,MOVEMENT_MODALITY,VISITATION_MODALITY,NUMBER_OF_USERS,NUMBER_OF_SIGNALS,DWELL_TIME,EXTRAPOLATED_NUMBER_OF_USERS,EXTRAPOLATED_NUMBER_OF_SIGNALS,PROPORTION_OF_USERS
0,89195dae2b7ffff,89195dae2b7ffff,0.0,2023-03-01,3.0,3.0,2023.0,ALL,WORKERS,5.0,6.0,2.964145,119.0,143.0,0.060241
1,89195da62b7ffff,89195da62b7ffff,0.0,2023-03-01,3.0,3.0,2023.0,ALL,WORKERS,2.0,2.0,0.726285,47.0,47.0,0.030303
2,89195da62b3ffff,89195da62b3ffff,0.0,2023-03-01,3.0,3.0,2023.0,ALL,WORKERS,3.0,9.0,2.187190,71.0,214.0,0.076923
3,89195da62bbffff,89195da62bbffff,0.0,2023-03-01,3.0,3.0,2023.0,ALL,WORKERS,2.0,2.0,2.273902,47.0,47.0,0.006969
4,89195dae2bbffff,89195dae2bbffff,0.0,2023-03-01,3.0,3.0,2023.0,ALL,WORKERS,3.0,5.0,1.830020,71.0,119.0,0.069767

In [ ]:
visit_mod = df['VISITATION_MODALITY'].unique().tolist()
visit_mod

['WORKERS', '0', 'ALL']

In [ ]:
mov_mod = df['MOVEMENT_MODALITY'].unique().tolist()
mov_mod

['ALL', '0', 'PEDESTRIANS', 'NON_PEDESTRIANS']

In [ ]:
import json
import pandas as pd

# Read the JSON file
with open('/content/drive/My Drive/Colab Notebooks/GL_gid9_grid.json', 'r') as json_file:
    data = json.load(json_file)

# Create a DataFrame from the JSON data
df_json = pd.DataFrame(data)

# Display the DataFrame
print(df_json)

                    type                                           features
0      FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
1      FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
2      FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
3      FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
4      FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
...                  ...                                                ...
17631  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
17632  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
17633  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
17634  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
17635  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...

[17636 rows x 2 columns]